DIV {
border: 1px solid #000000;
}

#Header {
	height: 100px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background: url(images/banner.png) no-repeat;
}

#MainContent {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}

#Footer {
	width: 802px;
	margin-right: auto;
	margin-left: auto;
	height: 50px;
}

#FooterLeft {
	float: left;
	width: 399px; /*49.5%*/
	height: 50px;
	border: 1px solid green;
}

#FooterRight {
	float: right;
	width: 399px; /*49.5%*/
	height: 50px;
	border: 1px solid red;
}